<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Daftar Produk</title>
        <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    </head>
    <body class="bg-white py-4">
        <div class="container mx-auto">
            <div th:if="${message}" th:class="|mb-4 flex items-center justify-center overflow-hidden ${error == true ? 'bg-red-800' : 'bg-green-800'} rounded py-2.5 px-6 text-white|">
                <p class="text-sm leading-6" th:text="${message}"></p>
            </div>

            <div class="flex items-end justify-between">
                <h2 class="text-slate-600 font-semibold text-2xl">Daftar Produk</h2>
                <div class="flex">
                    <a th:if="${query}"
                        href="/product"
                        class="mr-1 flex justify-center rounded-md border py-2 px-4 text-sm font-medium shadow-sm focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">
                        <span th:text="${query}"></span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="ml-2 h-5 w-5 text-red-600">
                            <path
                                d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
                            />
                        </svg>
                    </a>
                    <form action="/product" method="get">
                        <div class="mr-1 flex rounded-md shadow-sm">
                            <label for="query" class="hidden">Cari Produk</label>
                            <input
                                    type="text"
                                    name="query"
                                    id="query"
                                    class="block w-full flex-1 rounded-none rounded-l-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                                    placeholder="Cari Produk"
                            />
                            <button
                                    type="submit"
                                    class="inline-flex items-center rounded-r-md border border-l-0 border-gray-300 bg-gray-50 px-3 text-sm text-gray-500"
                            >
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                >
                                    <path
                                            fill-rule="evenodd"
                                            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                                            clip-rule="evenodd"
                                    />
                                </svg>
                            </button>
                        </div>
                    </form>
                    <a
                        href="/product/create"
                        class="justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Tambah Produk</a>
                </div>

            </div>
            <table class="mt-4 table table-auto border-collapse w-full border border-slate-400 bg-white text-sm shadow-sm">
                <thead class="bg-slate-50 font-semibold text-slate-900 text-left">
                    <tr>
                        <th class="border border-slate-300 p-4 w-min">#</th>
                        <th class="border border-slate-300 p-4">Nama Barang</th>
                        <th class="border border-slate-300 p-4">Kode Barang</th>
                        <th class="border border-slate-300 p-4">Jumlah Barang</th>
                        <th class="border border-slate-300 p-4">Tanggal</th>
                        <th class="w-10 border border-slate-300 p-4"></th>
                    </tr>
                </thead>
                <tbody class="text-slate-500">
                    <tr th:each="product, iter : ${products}">
                        <td class="border border-slate-300 p-4" th:text="${iter.index + 1}"></td>
                        <td class="border border-slate-300 p-4" th:text="${product.name()}"></td>
                        <td class="border border-slate-300 p-4" th:text="${product.code()}"></td>
                        <td class="border border-slate-300 p-4" th:text="${product.total()}"></td>
                        <td class="border border-slate-300 p-4" th:text="${product.date()}"></td>
                        <td class="border border-slate-300 p-4">
                            <div class="flex flex-row items-center justify-end space-x-1">
                                <a
                                    th:href="|/product/${product.id()}|"
                                    class="block rounded-md border border-green-800 py-2 px-4 text-sm font-medium text-green-700 shadow-sm hover:bg-green-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2"
                                >
                                        <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path d="M10 12.5a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" />
                                        <path
                                            fill-rule="evenodd"
                                            d="M.664 10.59a1.651 1.651 0 010-1.186A10.004 10.004 0 0110 3c4.257 0 7.893 2.66 9.336 6.41.147.381.146.804 0 1.186A10.004 10.004 0 0110 17c-4.257 0-7.893-2.66-9.336-6.41zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                </a>
                                <form method="post" th:action="|/product/${product.id()}/delete|">
                                    <button
                                        type="submit"
                                        class="rounded-md border border-red-800 py-2 px-4 text-sm font-medium text-red-700 shadow-sm hover:bg-red-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 20 20"
                                            fill="currentColor"
                                            class="h-5 w-5"
                                        >
                                            <path
                                                fill-rule="evenodd"
                                                d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"
                                                clip-rule="evenodd"
                                            />
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${products.size() == 0}">
                        <td colspan="6" class="border border-slate-300 p-4">Produk Kosong</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
